body {
    font-family: 'Rubik', sans-serif;
    background-color: black;
    color: white;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    padding-top: 60px;
}

body::-webkit-scrollbar {
    display: none;
}